.venv
.gitignore
logs/*
reports/*
*.env
__pycache__
.idx
*.xlsx
*.xls
*.parquet
*.feather
*.yaml
*.yml
*.json
*.ipynb
.pytest_cache
logs/*
labs/*
reports/*
allure-report/*
allure-results/*
configs/processing/*
configs/constants/*
configs/validation/*
data/processed_data/*
data/raw_data/*
data/test_data/*